/* CSS RESET*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */

:root{
    --navbar-height: 60px;
}

#navbar{
    display: flex;  /* to allign all the content inside nav bar in one line */
    align-items: center; /* to make content in center vertically */
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;   /* so that we cn use z-index */
    height: 100%;         /* use once 30% */
    width: 100%;
    z-index: -1;   /* so that our main content come front */
    opacity: 0.4;  /* background color opacity */
}

/* LOGO AND IMAGE */

#logo{
    margin: 10px 30px;
}

#logo img{
    height: 120px;
    margin: 11px 9px;
    border-radius: 50%;
}

/* NAVBAR LI ITEMS */

#navbar ul{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex; /*to list all li in one line */
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block; /* so that we can give padding */
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white; 
}

/* HOME SECTION */

#home{
    display: flex; /* so that all content inside home tag come in one line */
    flex-direction: column;
    padding: 5px 200px;
    height: 400px;
    justify-content: center; /* so that all the item come in center horizontly */
    align-items: center; /* vertically center */
    height: 360px;
}

#home::before{
    content: "";
    background: url('gallery/back.png') no-repeat center center/cover;
    position: absolute;   /* so that we cn use z-index */
    height: 100%;         
    width: 100%;
    z-index: -1;   /* so that our main content come front */
    opacity: 0.2;  /* background color opacity */
    background-color:blue;
}

#home h1{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#home p{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

/* SERVICES SECTION */


#services{
    margin: 4px;
    display: flex;
}

#services .box{
    border: 2px solid rgb(107, 92, 92);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(171, 181, 182);
    
}

#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: large;
}

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p{
    text-align: center;
}

/* CLIENT SECTION */

#client-section{
     height: 145px;
}

#client-section::before{
    content: "";
    position:absolute;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 100%;
    height: 45%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 125px;
}
.client-item{
    padding: 34px;
}

/* CONTACT SECTION */

#contact{
   position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 20px;
    background: linear-gradient(#e49e9e, #aeb2df);
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

footer{
    background: black;
    color: white;
    padding: 5px 10px;
}



/* Utility Classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    margin-top: 170px;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-primar{
    font-size: 3.8rem;
    padding: 12px;
    margin-top: 10px;
    font-family: 'Baloo Bhai 2', cursive;
}
.h-secondry{
    font-size: 2.1rem;
    padding: 10px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(143, 126, 114);
    color: white;
    font-size: 1.6rem;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
